[submodule "EnkaCard"]
	path = EnkaCard
	url = https://github.com/seriaati/EnkaCard
[submodule "StarRailCard"]
	path = StarRailCard
	url = https://github.com/seriaati/StarRailCard
[submodule "ENCard"]
	path = ENCard
	url = https://github.com/seriaati/ENCard
[submodule "enka-card"]
	path = enka_card
	url = https://github.com/seriaati/enka-card
