[project]
requires-python = ">=3.11"

[tool.poetry]
authors = ["seriaati <seria.ati@gmail.com>"]
description = "API to generate Enka cards."
license = "GPL-3.0"
name = "enka-card-api"
package-mode = false
readme = "README.md"
version = "1.3.1"

[tool.poetry.dependencies]
aiofiles = "^23.2.1"
asyncache = "^0.3.1"
beautifulsoup4 = "^4.12.3"
cachetools = "^5.3.3"
enkacard = "^3.3.7"
fastapi = "^0.110.0"
genshin = {git = "https://github.com/thesadru/genshin.py"}
matplotlib = "^3.8.3"
more-itertools = "^10.2.0"
numpy = "^1.26.4"
pillow = "^10.2.0"
pydantic = "v1.10.9"
python = "^3.11"
python-magic = "^0.4.27"
requests = "^2.31.0"
starrailcard = "^2.2.2"
uvicorn = "^0.27.1"
fake-useragent = "^1.5.1"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
pre-commit = "^3.7.1"
ruff = "^0.4.5"

[tool.poetry.group.linux]
optional = true

[tool.poetry.group.linux.dependencies]
uvloop = "^0.19.0"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core"]

[tool.ruff]
exclude = ["ENCard", "enka_card"]
line-length = 100

[tool.ruff.lint]
ignore = [
  "E501",
  "ANN401",
  "ANN101",
  "ANN102",
  "ANN003",
  "PLR0913",
  "PLR2004",
  "PLR0917",
  "PLR6301",
  "ANN002",
]
preview = true
select = [
  "E",
  "W",
  "C90",
  "F",
  "UP",
  "B",
  "SIM",
  "I",
  "N",
  "TCH",
  "ANN",
  "ASYNC",
  "A",
  "C4",
  "EM",
  "FA",
  "ICN",
  "G",
  "PIE",
  "T20",
  "ARG",
  "ERA",
  "LOG",
  "PL",
  "TRY",
]

[tool.ruff.lint.per-file-ignores]
"**/__init__.py" = ["F403"]
"ENCard/**/*.py" = ["ALL"]
"EnkaCard/**/*.py" = ["ALL"]
"StarRailCard/**/*.py" = ["ALL"]
"enka_card/**/*.py" = ["ALL"]
"playground.*.py" = ["ALL"]

[tool.ruff.lint.flake8-type-checking]
quote-annotations = true

[tool.pyright]
exclude = [
  "EnkaCard/**/*.py",
  ".venv/**/*.py",
  ".venv/**/*.pyi",
  "StarRailCard/**/*.py",
  "ENCard/**/*.py",
  "enka_card/**/*.py",
]
